<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{{ asset('Assets/CSS/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('Assets/CSS/style.css') }}"

        <script src="{{ asset('Assets/JS/boostrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('Assets/JS/scripts.js') }}" defer></script>
    </head>
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <img src="Assets/Images/logo.png" img width="300px" img length="300px" alt="Garage V. Parrot">
        {% block body %}{% endblock %}
    </body>
</html>
